<header class="header text-center bg-cover bg-center" style="background-image: url(/images/backgrounds/tablet.jpg)">
  <div class="container mx-auto flex flex-col justify-center h-full">

    <h1 class="sr-only">The Finishing Suite</h1>
    <img class="w-3/4 mx-auto" src="images/logo/tfs-white.svg" alt="The Finishing Suite" />

    <a class="text-4xl" href="https://www.instagram.com/thefinishingsuite" alt="Instagram - @thefinishingsuite" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</header>
