<nav>
  <div id="nav-toggle">
    <i class="fas fa-bars"></i>
  </div>

  <div id="nav">
    <a href="#portfolio">Portfolio</a>
    <a href="#services">Services</a>
    <a href="#about">About</a>
    <a href="#upload">Upload</a>
    <a href="#contact">Contact</a>
    <a href="http://www.thefinishingsuite.co.nz/docs/tfs_handover_recommedations_20180528.pdf" target="_blank">Handover</a>
  </div>
</nav>
