<section id="about" class="section news">
  <div class="container blur mx-auto">
    <h2 class="mb-4">Latest News</h2>

    <a class="twitter-timeline"
        href="https://twitter.com/mattdwen?ref_src=twsrc%5Etfw"
        data-chrome="transparent noheader nofooter noborders"
        data-theme="dark"
        data-tweet-limit="3">Tweets by The Finishing Suite</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</section>
