<section class="section portfolio bg bg-texture">
  <div id="portfolio" class="anchor"></div>
  <div class="container mx-auto">
    <h2 class="pt-0">Portfolio</h2>

    {% include "components/portfolio-grid.njk" %}
  </div>
</section>

{% include "components/portfolio-slides.njk" %}