<div class="portfolio-grid">
  {%- for project in collections.portfolio | reverse -%}
    <div title="{{ project.data.title }}">
      <img data-lazy="{{ project.data.thumb }}" alt="{{ project.data.title }}">
    </div>
  {%- endfor -%}
</div>