<section id="services" class="section services bg bg-texture">
  <div class="container mx-auto">

  <h2>Services</h2>

  <div class="services-swiper swiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="slide-content">
          <h4>Motion picture finishing</h4>
          <ul>
            <li>Colour grading</li>
            <li>Film emulation</li>
            <li>Image restoration</li>
            <li>VFX</li>
            <li>Motion graphics</li>
            <li>Beauty and digital make-up</li>
            <li>Title design</li>
            <li>End credits</li>
            <li>Mastering</li>
            <li>DCP Authoring and theatrical QC</li>
            <li>Subjective Broadcast QC checks</li>
            <li>LTO8 data backup</li>
          </ul>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <h4>Client services</h4>
          <ul>
            <li>Fast fibre optic internet</li>
            <li>Easy access to power for device charging</li>
            <li>Fully stocked bar fridge</li>
            <li>Food, drink, and concierge services available with advance notice</li>
          </ul>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <h4>Remote services</h4>
          <ul>
            <li>Available for remote grading worldwide</li>
            <li>High quality remote reference monitoring</li>
            <li>Fast fibre optic data transfers</li>
            <li>Rushes and DIT</li>
            <li>Talk to us about putting you in touch with some of New Zealand's best Line Producers</li>
            <li>Your US$ budget goes much further paying for post-production services in NZ$</li>
          </ul>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <h4>Dry hire</h4>
          <ul>
            <li>Client facing suite available for short term dry hire</li>
            <li>Configurable for both colour/finishing and offline editing</li>
            <li>Sony OLED reference monitoring</li>
            <li>LG 55" OLED client monitor</li>
            <li>DaVinci Resolve Studio</li>
            <li>Avid Media Composer</li>
            <li>Adobe Creative Cloud</li>
            <li>Nobe Omniscope</li>
            <li>Direct attached Raid for near-archive</li>
            <li>Fast SSD cache</li>
            <li>LTO8 deck</li>
            <li>All mounted in a tidy and mobile 16RU rack</li>
          </ul>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <h4>AI/Machine Learning</h4>
          <ul>
            <li>Next-gen denoising</li>
            <li>Super slow-motion frame interpolation</li>
            <li>VO overdubs with custom voice models</li>
            <li>Upscaling</li>
            <li>Deinterlacing</li>
            <li>Transcription</li>
            <li>Audio clean-up</li>
          </ul>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <h4>VFX</h4>
          <ul>
            <li>Specialising in invisible VFX</li>
            <li>Paint outs</li>
            <li>Set clean ups and extensions</li>
            <li>Logo replacements</li>
            <li>Screen inserts</li>
            <li>Sky replacements</li>
            <li>On-set supervision</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

</section>
