<section id="services" class="section services bg bg-texture">
  <div class="container mx-auto">

    <h2>Services</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-16">

      <div>
        <h4>Motion picture finishing</h4>
        <ul>
          <li>Colour grading</li>
          <li>VFX and motion graphics</li>
          <li>Image restoration</li>
          <li>Beauty and digital make-up</li>
          <li>Title design</li>
          <li>End credits</li>
          <li>Mastering</li>
          <li>DCP Authoring and theatrical QC</li>
          <li>Subjective Broadcast QC checks</li>
          <li>LTO8 data backup</li>
        </ul>

        <h4>International services</h4>
        <ul>
          <li>Your US$ budget goes much further paying for post-production services in NZ$</li>
          <li>Remote colour grading</li>
          <li>High Speed fibre optic data transfers</li>
          <li>Rushes and DIT</li>
          <li>Talk to us about putting you in touch with some of New Zealand's best Line Producers</li>
        </ul>

        <h4>Offline</h4>
        <ul>
          <li>Editing TV spots</li>
          <li>Trailer production</li>
        </ul>
      </div>

      <div>
        <h4>Dry hire</h4>
        <ul>
          <li>Client facing suite available for short and long term dry hire</li>
          <li>Configurable for both colour/finishing and offline editing</li>
          <li>Sony OLED reference monitoring</li>
          <li>LG 55" OLED client monitor</li>
          <li>DaVinci Resolve Studio</li>
          <li>Avid Media Composer</li>
          <li>Adobe Creative Cloud</li>
          <li>18TB direct attached Raid for near-archive</li>
          <li>6TB direct attached SSD Raid for blistering fast cache</li>
          <li>LTO8 deck</li>
          <li>All mounted in a tidy and mobile 16RU rack -- come work onsite or wheel it out the door to take on-set</li>
        </ul>

        <h4>Client services</h4>
        <ul>
          <li>High speed 1300 Mbps WiFi</li>
          <li>Fibre optic internet connection</li>
          <li>Fully stocked bar fridge</li>
          <li>Food, drink, and concierge services available on request</li>
        </ul>
      </div>

    </div>

  </div>
</section>