//==========  Imports  ==========//

// Import Tailwind preflight
@tailwind base;


// Import our custom component styles
@import 'variables';
@import 'base/all';


// Import Tailwind components
@tailwind components;


// Import our custom component styles
@import 'components/all';


// Import plugins
@import 'plugins/all';


// Import Tailwind utilities
// TailwindCSS recommends leaving utilities till last to ensure they aren't overwritten.
@tailwind utilities;
