.section.about {
  h2 {
    @apply mb-4;
  }

  .divider {
    @apply my-16;
    @apply mx-auto;

    height: .1rem;
    max-width: 60vw;

    background-color: rgba(255,255,255,.5);
  }

  .person-image {
    @apply mb-8;

    order: -1;

    @screen md {
      @apply mb-0;

      order: initial;
    }
  }
}
