//==========  Backgrounds ==========//

.bg {
  @apply bg-cover;
  @apply bg-center;
  @apply bg-no-repeat;
}

.bg-aspect {
  height: 50vh;

  @screen md {
    aspect-ratio: 2.35 / 1;
    height: auto;
  }
}

.bg-bricks {
  background-image: url('../images/backgrounds/bricks.jpg');
}

.bg-cans {
  background-image: url('../images/backgrounds/cans.jpg');
}

.bg-couch {
  background-image: url('../images/backgrounds/couch.jpg');
}

.bg-suite {
  background-image: url('../images/backgrounds/suite.jpg');
}

.bg-tablet {
  background-image: url('../images/backgrounds/tablet.jpg');
}

.bg-texture {
  background-image: url('../images/backgrounds/texture.jpg');
}

@supports not (-webkit-touch-callout : none) {
  .bg {
    @apply bg-fixed;
  }
}