//==========  Carousel ==========//

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  display: none;
  position: relative;
  float: left;

  width: 100%;
  margin-right: -100%;

  backface-visibility: hidden;
  transition: transform .6s ease-in-out;

  &.active {
    display: block;
    transform: translateX(0);
  }

  .aspect-ratio {
    padding-bottom: 56.25%;
  }

  > img,
  > iframe {
    @apply absolute;
    @apply left-0;
    @apply top-0;
    @apply w-full;
    @apply h-full;
    @apply object-cover;
  }
}

.carousel-item-left {
  display: block;
}

.carousel-item-left {
  transform: translateX(-100%);
}

.carousel-item-right {
  transform: translateX(100%);
}
