//==========  Carousel ==========//

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  float: left;

  display: none;
  width: 100%;
  margin-right: -100%;

  backface-visibility: hidden;
  transition: transform .6s ease-in-out;

  &.active {
    display: block;
  }

  > img {
    display: block;
    width: 100%;
  }

  > iframe {
    width: 100%;
    height: 56.25vw;
  }

  .text {
    clear: both;
  }
}
