.help {
  background-color: theme('colors.white');
  color: theme('colors.black');

  a {
    transition: color 300ms ease-in-out;

    &:hover {
      color: theme('colors.red');
    }
  }

  h2 {
    @apply font-sans;
    @apply font-bold;
    @apply text-3xl;

    text-shadow: none;
  }

  nav {
    color: theme('colors.white');

    a {
      @apply text-xl;
      line-height: 1;

      &:hover {
        color: theme('colors.red');
      }

      &.contact {
        margin-left: auto;
      }
    }
  }

  .article-topic-list {
    section {
      @apply py-8;
    }
  }

  .map {
    display: none;
  }

  .topicNav {
    z-index: 1000;
  }

  .section {
    &.contact {
      color: theme('colors.white');
    }

    &.navbar {
      .container {
        @apply py-2;
      }
    }
  }

  .topicAnchor {
    position: relative;
    top: -96px;
  }
}

.help.article {
  h4 {
    @apply font-sans;
    @apply font-semibold;
    @apply text-xl;
  }

  .breadcrumbs {
    @apply flex;
    @apply flex-wrap;
    @apply text-sm;
    @apply text-gray-700;

    li:last-child {
      @apply text-black;
    }
  }
}

.help-content-container {
  min-height: 50vh;
}

@screen md {
  .help {
    .topicNav {
      top: 96px;
    }
  }
}
