.help {
  background-color: theme('colors.white');
  color: theme('colors.black');

  a {
    transition: color 300ms ease-in-out;

    &:hover {
      color: theme('colors.red');
    }
  }

  h2 {
    @apply font-sans;
    @apply text-3xl;

    text-shadow: none;
  }

  nav {
    color: theme('colors.white');

    a {
      @apply text-xl;
      line-height: 1;

      &:hover {
        color: theme('colors.red');
      }

      &.contact {
        margin-left: auto;
      }
    }
  }

  .article-topic-list {
    section {
      @apply py-8;
    }
  }

  .map {
    display: none;
  }

  .nav-items {
    z-index: 1000;

    a {
      @apply block;
      @apply px-4;
      @apply py-2;
      @apply rounded;

      transition: all 300ms ease-in-out;

      &.active {
        background-color: theme('colors.red');
        color: theme('colors.white');
      }
    }
  }

  .section {
    &.contact {
      color: theme('colors.white');
    }
  }
}

@screen md {
  .help {
    .nav-items {
      top: 112px;
    }
  }
}
