nav {
  @apply z-50;
}

#nav-toggle {
  @apply fixed;
  @apply top-0;
  @apply right-0;
  @apply z-50;

  @apply mt-1;
  @apply mr-3;

  @apply text-2xl;

  @apply cursor-pointer;
  @apply opacity-75;
}

#nav {
  @apply fixed;
  @apply top-0;
  @apply z-40;

  @apply flex;
  @apply flex-col;
  @apply items-center;

  @apply w-full;

  @apply bg-black;

  height: 0;
  opacity: 0;
  overflow: hidden;

  transition: height 300ms ease-in-out, opacity 300ms ease-in-out;

  &.in {
    height: 240px;
    opacity: .8;
  }

  a {
    @apply p-2;

    transition: color 300ms ease-in-out;

    &.active,
    &:hover {
      color: $red;
    }
  }
}

@screen sm {
  #nav-toggle {
    @apply hidden;
  }

  nav {
    @apply sticky;
    @apply top-0;
  }

  #nav {
    @apply static;

    @apply flex-row;
    @apply justify-center;

    height: auto;
    opacity: 1;

    &.in {
      height: auto;
      opacity: 1;
    }
  }
}