.section.portfolio {
  .anchor {
    position: relative;
    top: -5rem;
  }

  .container {
    padding-left: 0;
    padding-right: 0;

    h2 {
      padding-bottom: 2rem;
    }

    @screen md {
      padding-bottom: 5vw;
    }
  }
}

