//==========  Portfolio Grid ==========//

.portfolio-grid {
  @apply w-full;
  @apply flex;
  @apply flex-wrap;
  @apply justify-start;

  > div {
    @apply w-1/2;
    @apply flex-grow-0;
    @apply flex-shrink-0;
    @apply cursor-pointer;

    > img {
      height: 45vw;
      width: 100%;
    }
  }
}

@screen sm {
  .portfolio-grid {
    > div {
      @apply w-1/3;

      > img {
        height: 30vw;
      }
    }
  }
}

@screen md {
  .portfolio-grid {
    > div {
      @apply w-1/4;

      > img {
        height: 22.5vw;
      }
    }
  }
}

@screen lg {
  .portfolio-grid {
    > div {
      @apply w-1/5;

      > img {
        height: 18vw;
      }
    }
  }
}

@screen xl {
  .portfolio-grid {
    > div {
      @apply w-1/6;

      > img {
        height: 15vw;
      }
    }
  }
}
