//==========  Portfolio Slides ==========//

.portfolio-open {
  overflow: hidden;
}

.portfolio-slides {
  @apply fixed inset-0 z-50;

  @apply bg-black bg-opacity-75;

  display: none;
  overflow-x: hidden;
  overflow-y: auto;

  .close {
    position: absolute;
    top: 0;
    right: 0;

    @apply mr-8;
    @apply mt-8;
    @apply z-50;

    opacity: .5;
    transition: opacity .15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  > .container {
    position: relative;
  }

  .slide {
    display: none;

    &.in {
      display: block;
    }
  }
}

.portfolio-images {
  position: relative;
}

.portfolio-text {
  @apply bg-black;

  position: relative;

  text-align: center;

  dl {
    display: grid;
    grid-template-columns: 100%;

    dd {
      text-transform: uppercase;

      + dt {
        @apply mt-4;
      }
    }
  }

  .slide {
    @apply py-8;
  }
}

@screen sm {
  .portfolio-text {
    dl {
      grid-template-columns: 50% 50%;
      @apply col-gap-4;


      dt {
        text-align: right;
      }

      dd {
        text-align: left;

        + dt {
          @apply mt-0;
        }
      }
    }
  }
}

.portfolio-control {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;

  text-align: center;

  cursor: pointer;
  opacity: .5;
  transition: opacity .15s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &.prev { left: 0; }
  &.next { right: 0; }
}