//==========  Section ==========//

.section {
  @apply pb-20;

  @apply bg-cover;
  @apply bg-center;
  @apply bg-fixed;

  &.about {
    background-image: url('/images/backgrounds/resolve-panel.jpg');
  }

  &.contact {
    background-image: url('/images/backgrounds/bricks.jpg');
  }

  &.services {
    background-image: url('/images/backgrounds/couch.jpg');
  }

  &.upload {
    background-image: url('/images/backgrounds/cans.jpg');
  }
}