.section.services {

  > .container {
    @apply max-w-none;
    @apply px-0;
  }

  h2 {
    @apply mb-4;
  }

  h4 {
    @apply text-center;
    @apply mb-4;
  }

  ul {
    @apply list-disc;
    @apply list-outside;
    @apply ml-4;

    + h4 {
      @apply mt-5;
    }
  }

  .services-swiper {
    // max-width: 75vw;
    // margin-left: auto;
    // margin-right: auto;

    max-width: 600px;

    @apply pb-10;

    @screen md {
      max-width: 90vw;
    }

    .swiper-slide {
      @apply px-12;
    }

    .slide-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
    }
  }

}
