<!doctype html>
<html lang="en" class="min-h-full antialiased">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if meta_title %}{{ meta_title }}{% else %}{{ title }}{% endif %} | {{ site.name }}</title>

  {% if helpers.environment === "development" %}
    <link rel="stylesheet" href="/css/main.css">
  {% else %}
    <link rel="stylesheet" href="/css/main.min.css">
  {% endif %}

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Vollkorn:400italic,400" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  {% include "components/social-meta.njk" %}
  {% include "components/icons.njk" %}

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js" integrity="sha256-Jvh9+A4HNbbWsWl1Dw7kAzNsU3y8elGIjLnUSUNMtLg=" crossorigin="anonymous"></script>
  {% if helpers.environment === "development" %}
    <script src="/js/main.js" defer></script>
  {% else %}
    <script src="/js/main.min.js" defer></script>
  {% endif %}
</head>

<body class="bg-black text-white">
  {{ content | safe }}
</body>

</html>
