---
layout: layouts/help/base.njk
---

<h1>I am layouts/help/article.njk</h1>

<a href="/help/">Back to help index</a>

<h2>{{ title }}</h2>

{{ content | safe }}

<section>
  <h3>Related Articles</h3>
  <ul>
    {% for article in collections.help | filterRelated(tags, page.fileSlug) %}
    <li><a href="{{ article.data.page.fileSlug }}">{{ article.data.title }}</a></li>
    {% endfor %}
  </ul>
</section>
