---
layout: layouts/default.njk
bodyClass: help
---

<nav class="section navbar py-0 bg-black">
  <div class="container mx-auto flex items-center gap-x-4">
    <a href="/"><img class="h-12" src="images/logo/tfs-white.svg" alt="The Finishing Suite" /></a>
    <a href="/help/" class="text-right">Help</a>
    <a href="/help/#contact" class="contact hidden sm:inline-block">Contact</a>
  </div>
</nav>

<section class="section py-0">
  <div class="container mx-auto help-content-container">
    {{ content | safe }}
  </div>
</section>

{% include "components/contact.njk" %}
