---
layout: layouts/help/base.njk
title: Help Center
---

<h1>I am help/index.html</h1>

<p>Welcome to the help center intro text.</p>

{% for topic in helpTopics %}
  {% set topicArticles = collections[topic] %}
  <h2>Topic: {{ topic }}</h2>
  <ul>
    {% for article in topicArticles %}
    <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
