body {
	font-family:'Open Sans', 'sans-serif';
	}

a {
	-webkit-transition:all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
	   -moz-transition:all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
	    -ms-transition:all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
	        transition:all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
	       	outline:none;
}

/**
 * Header
 * --------------------------------------------------------------------------*/

#header h1 {
	background:url(../images/tfs_logo.png) 50% 0 no-repeat;
	background-size:auto 100%;
	display:block;
	height:80px;
	margin:0 0 16px 0;
	text-indent:-9999px;
	width:100%;
	}

#header p {
	color:#fffce6;
	font-family:'Vollkorn', 'serif';
	font-size:18px;
	line-height:24px;
	margin:0 0 34px 0;
	text-transform:uppercase;
	text-shadow:2px 2px 5px rgba(0, 0, 0, 0.6);
	}

#header ul {
	font-size:0;
	list-style:none;
	margin:0;
	padding:0;
	}
	
#header ul li {
	display:inline-block;
	margin:0 0 34px 0;
	padding:0 12px;
	vertical-align:top;
	}

#header ul li.button a {
	background:#0b0b0b;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#d9d9d9;
	font-size:12px;
	font-weight:600;
	display:block;
	padding:14px 0;
	text-decoration:none;
	text-transform:uppercase;
	width:128px;
	}

#header ul li a:hover {
	color:#e1903e;
	}

#header ul.social li {
	padding:0 8px;
	}

#header ul.social li a {
	display:block;
	height:36px;
	text-indent:-9999px;
	width:36px;
	}

#header ul.social li.facebook a {
	background:url(../images/facebook.png) 0 0 no-repeat;
	}
		
#header ul.social li.twitter a {
	background:url(../images/twitter.png) 0 0 no-repeat;
	}

#header ul.social li.imdb a {
	background:url(../images/imdb.png) 0 0 no-repeat;
	}

#header ul.quotes li {
	color:#fffce6;
	font-family:'Vollkorn', 'serif';
	font-size:20px;
	line-height:24px;
	margin:0 12px 0 12px;
	text-shadow:2px 2px 5px rgba(0, 0, 0, 0.6);
	width:260px;
	}

#header ul.quotes li.tablet {
	display:none;
	}

#header ul.quotes li span {
	display:inline-block;
	font-size:14px;
	text-align:right;
	line-height:18px;
	margin:8px 0 34px 0;
	width:260px;
	}

#header ul.quotes li span strong {
	font-weight:400;
	text-transform:uppercase;
	}

#header img.silhouettes {
	bottom:0;
	display:inline-block;
	width:75%;
	left:0;
	margin:0 auto;
	position:absolute;
	right:0;
	top:0;
	z-index:1;
	}

#nav ul {
	font-size:0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	}

#nav ul li {
	display:inline-block;
	font-size:14px;
	font-weight:600;
	line-height:55px;
	padding:0 20px;
	text-transform:uppercase;
	}

#nav a {
	color:#d9d9d9;
	text-decoration:none;
	}
	
#nav a.active,
#nav a:hover {
	color:#e1903e;
	}

.content h2 {
	color:#000;
	font-family:'Vollkorn', 'serif';
	font-size:42px;
	font-weight:400;
	margin:0 0 24px 0;
	text-align:center;
	}

.content h3 {
	color:#000;
	font-family:'Vollkorn', 'serif';
	font-size:22px;
	font-weight:400;
	margin:0 0 24px 0;
	text-align:center;
	}

.content h3 a.imdb {
	color:#000;
	
	padding:0 0 0 30px;
	text-decoration:none;
	}

.content h3 em {
	font-size:16px;
	font-style:normal;
	}
	
.content p {
	color:#5f5f5f;
	font-size:14px;
	margin:0 0 24px 0;
	line-height:24px;
	}
	
p.quote {
	border-top:1px rgba(255,255,255,0.32) solid;
	font-style:italic;
	padding:24px 0 0 0;
	}
	
p.featured {
	color:#5f5f5f;
	font-weight:600;
	}

#buy a.product img,
img.image {
	display:block;
	height:auto;
	margin:0 0 24px 0;
	width:100%;
	}

#buy h3 {
	color:#fff;
	margin:0;
	text-align:left;
}

#buy p.quote {
	font-style:normal;
}

#showtimes .showtimes {
	border-top:1px solid rgba(255, 255, 255, 0.3);
	margin:0 0 24px 0;
	}

#showtimes .showtimes .item {
	border-bottom:1px solid rgba(255, 255, 255, 0.3);
	font-size:0;
	padding:30px 0;
	}

#showtimes .showtimes .item .location,
#showtimes .showtimes .item .venue,
#showtimes .showtimes .item .date,
#showtimes .showtimes .item .buyTickets {
	color:#fff;
	display:inline-block;
	font-size:14px;
	text-align:center;
	width:100%;
	}

#showtimes .showtimes .item a {
	color:#e1903e;
	text-decoration:none;
	}

#showtimes .showtimes .item .location p,
#showtimes .showtimes .item .venue p,
#showtimes .showtimes .item .date p,
#showtimes .showtimes .item .buyTickets p {
	margin:0;
	}

#showtimes .showtimes .item .location {
	font-weight:600;
	}

#showtimes .showtimes .item .buyTickets a,
#showtimes .showtimes .item .buyTickets .blank {
	background:#e1903e;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#fff;
	display:inline-block;
	font-size:12px;
	font-weight:600;
	margin:14px 0 0 0;
	padding:14px 0;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	text-shadow:none;
	width:115px;
	}

#showtimes .showtimes .item .buyTickets .blank,
#showtimes .showtimes .item .buyTickets .soldOut {
	background:#c5c5c5;
	color:#525252;
	}

#showtimes .showtimes .item .buyTickets .soldOut {
	background:#e13e3e;
	color:#fff;
	}

#buy h2,
#buy h3,
#buy p,
#showtimes h2,
#showtimes h3,
#showtimes p,	
#about h2,
#about p {
	color: #fff;
}

#about p {
	padding:0;
	}

#about .content img {
	border-radius:50%;
	display:block;
	height:200px;
	margin:0 auto 24px auto;
	width:200px;
	}

#buy p.full a,
#services p.full a,
#press p.full a {
	background:#0b0b0b;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#d9d9d9;
	font-size:12px;
	font-weight:600;
	display:inline-block;
	padding:14px 0;
	text-decoration:none;
	text-transform:uppercase;
	width:148px;
	}

#buy p.full a {
	background:#e1903e;
	color:#fff;
	text-align:center;
	text-shadow:none;
	width:100%;
}

#services p.full a:hover,
#press p.full a:hover {
	color:#e1903e;
	}

#portfolio h2 {
	color:#fff;
	}
	
#footer p {
	color:#fff;
	margin:0;
	text-align:center;
	}
	
#footer p.billing {
	font-size:10px;
	line-height:24px;
	margin:55px 0;
	text-transform:uppercase;
	}

#footer p.billing span {
	font-size:16px;
	padding:0 8px;
	white-space:nowrap;
	}

#footer p.hybrid {
	margin:0 0 55px 0;
	}

#footer p.hybrid a {
	background:url(../images/hybridMotionPictures.png) 50% 50% no-repeat;
	background-size:auto 100%;
	display:block;
	height:60px;
	text-indent:-9999px;
	width:100%;
  }


@media all and (min-width:724px) {

	#header h1 {
		height:171px;
		}
		
	#header p {
		font-size:26px;
		line-height:32px;
		letter-spacing:1px;
		}
		
	#header ul li.button a {
		font-size:16px;
		width:168px;
		}
		
	#header ul.quotes li,
	#header ul.quotes li span {
		width:300px;
		}
			
	p.featured {
		font-family:'Vollkorn', 'serif';
		font-size:26px;
		font-weight:400;
		line-height:30px;
		margin:0 0 24px 0;
		text-align:center;
		}
	
	#showtimes .showtimes .item {
		padding:0;
		}
	
	#showtimes .showtimes .item .location,
	#showtimes .showtimes .item .venue,
	#showtimes .showtimes .item .date,
	#showtimes .showtimes .item .buyTickets {
		padding:30px 0;
		width:25%;
		text-align:left;
		}
	
	#showtimes .showtimes .item .buyTickets {
		padding:18px 0;
		}
		
	#showtimes .showtimes .item .date p {
		margin:0;
		}
	
	#showtimes .showtimes .item .venue {
		text-align:center;
		}
	
	#showtimes .showtimes .item .date,	
	#showtimes .showtimes .item .buyTickets {
		text-align:right;
		}
	
	#showtimes .showtimes .item .buyTickets a,
	#showtimes .showtimes .item .buyTickets .blank {
		margin:0;
		}
		
	#footer p.billing {
		background:url(../images/billing.png) 50% 50% no-repeat;
		background-size:100% auto;
		display:block;
		height:200px;
		text-indent:-9999px;
		width:100%;
		}
		
	#footer p.hybrid a {
		height:79px;
		}

}
	
@media all and (min-width:968px) {
	
	#header ul.quotes li.tablet {
		display:inline-block;
		}
	
	img.image {
		display:none;
		}
	
	#showtimes .showtimes {
		margin:0 120px 24px 120px;
		}
	
	#buy h2,
	#buy p,
	#showtimes h2,
	#showtimes h3,
	#showtimes p,
	#about h2,
	#about p {
		text-shadow:3px 3px 5px rgba(0, 0, 0, 0.4);
		}
	
	#showtimes h3 {
		opacity:0.72;
		}
		
	#about p {
		padding:0 260px;
		}

}




.crew h3,
.crew h3 a {
  color: #fff;
  text-decoration: none;
}

.crew h3 em {
  font-size: 26px;
}

.crew h3 a {
  font-size: 42px;
}

#services {
  position: relative;
  background-color: #e1903e;
}

#services,
#services h2 {
  color: #fff;
}

#services .padding {
  text-align: left;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer p + p {
  margin-top: 8px;
}

#footer h2 {
	background:url(../images/tfs_logo.png) 50% 0 no-repeat;
	background-size:auto 100%;
	display:block;
	height:80px;
	margin:0 0 16px 0;
	text-indent:-9999px;
	width:100%;
}

#footer .content {
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer .map {
  height: 50vh;
  width: 100%;
}

@media all and (min-width:724px) {
  .service-list {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }

  #footer .content {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  #footer .map {
    width: 60vw;
    max-height: 400px;
  }
}

@media all and (min-width:968px) {
  .crew h3 {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  }

  #services,
  #services h2 {
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  }

  #services .content {
    position: relative;
  }

  #services ul {
    font-weight: normal;
    position: relative;
  }

  #services::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,.3);
  }

  .service-list {
    width: 40vw;
  }

  #footer .content {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  #footer h2 {
    font-size: 36px;
  }
}
